CompileFlags:
  Add:
    [
      -DVKH_DEBUG,
      -g,
      --std=c++17,
      -Wall,
      -Ivendor/include,
      -IC:/VulkanSDK/1.4.341.1/Include,
      -I/opt/homebrew/include,
      -Wno-unused-parameter,
      -Wno-unused-variable,
    ]
  Compiler: clang++
